body {
    font-family:$helvetica;
}

i, em { font-style:italic; }
b, strong { font-weight:$bold; }

a {
    text-decoration:none;
    transition:background .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out, opacity .3s ease-in-out;
    &:hover {
        transition-duration:.1s;
    }
}

p {
    margin-bottom:.5em;
    line-height:1.5;
}