$fontBase: '../fonts/';

// Define your fonts here. Make sure font families are linked.

$helvetica : Helvetica, Arial, sans-serif;

// font weights
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black-weight: 900;