html, body {
    min-height:100%;
    overflow:hidden;
}

#app {
    position:fixed;
    top:0; right:0; bottom:0; left:0;    
}

.page {
    width:100%;
    @include clearfix;
    
    height:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    transform:translateX(0%);
    
    &.page-fade-enter-active, &.page-fade-leave-active { transition:opacity .3s; }
    &.page-fade-enter, &.page-fade-leave-active {
        opacity: 0;
        position:absolute;
        top:0; left:0;
    }
}