/*
    Responsive Media Containers
    
    Set the width of the container and the height will adjust based on the given aspect ratio.
    
    The default markup is as follows:
    <div class="media-container">
        <div class="media-container-inner">
            {{ Content -- can be an iframe, img, or div. }}
        </div>
    </div>
*/

@mixin media-container($width, $height, $innerSelector:'.media-container-inner') {
    // Use this mixin for custom aspect ratios.
    position:relative;
    
    #{$innerSelector} {
        padding-top:percentage($height/$width);
        
        img, iframe, div {
            position:absolute;
            top::0; right:0; left:0; bottom:0;
            width:100%;
            height:100%;
        }
    }
};


.media-container {
    // Default sizes
    
    &.portrait {
        // 2:3 generic portrait size
        @include media-container(2, 3);
    }
    
    &.landscape {
        // 3:2 generic landscape size
        @include media-container(3, 2);
    }
    
    &.square {
        // 1:1 square
        @include media-container(1, 1);
    }
    
    &.widescreen {
        // 16:9 standard for widescreen videos
        @include media-container(16, 9);
    }
    
    &.youtube {
        // 4:3 standard for youtube videos
        @include media-container(4, 3);
    }
}