// show / hide
@mixin show-hide($transition-duration:.3s) {
    visibility:hidden;
    opacity:0;
    transition:opacity #{$transition_duration} ease-in-out, visibility 0s linear #{$transition_duration};
    &.active {
        visibility:visible;
        opacity:1;
        transition-delay:0s;
    }
}

// breakpoints
@mixin breakpoint( $value, $operator: 'min-width', $query: 'screen') {
    @media #{$query} and (#{$operator}: #{$value}px) {
        @content;
    }
}

// antialiasing
@mixin antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// old hide-text
@mixin hide-text {
    font:0/0 a;
    text-shadow:none;
}

// 2x assets
@mixin retina($image, $width:false, $height:false) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
        /* on retina, use image that's scaled by 2 */
        background-image: url($image);

        @if $width {
            background-size: $width $height;
        }
    }
}

// responsive pseudo element image
@mixin pseudo-image($width, $height, $image, $retina-image:false) {
    &:before {
        content: '';
        display: block;
        padding-bottom: percentage($height/$width);
        background: url($image) center/contain no-repeat;

        @if $retina-image {
            @include retina($retina-image);
        }
    }
}

// form placeholder styles
@mixin placeholder($element, $color, $font:false) {
    #{$element}::-webkit-input-placeholder { 
        color: $color;
        font-family: $font;
    }
    #{$element}::-moz-placeholder { 
        color: $color;
        font-family: $font;
    }
    #{$element}::-ms-input-placeholder { 
        color: $color;
        font-family: $font;
    }
    #{$element}::placeholder { 
        color: $color;
        font-family: $font;
    }
}

// custom font definitions
@mixin font-definition($name, $file-name, $style, $weight) {
    @font-face {
        font-family: $name;
        src: url('../fonts/#{$file-name}.woff2') format('woff2'),
             url('../fonts/#{$file-name}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}